<select name="expression[property]" class="form-select">
  <option value="<%= expression.args[0].value %>" selected><%= expression.args[0].value %></option>
  <% @expression_properties.keys.each do |property| %>
    <% unless property == expression.args[0].value %>
      <option value="<%= property %>"><%= property %></option>
    <% end %>
  <% end %>
</select>
